// variables
$nav-bg-color: rgba(240, 243, 255, 1);
$nav-brand-color: rgba(51, 51, 51, 1);
$navbrand-font-family: 'Whyte';

nav.navbar {
    border-radius: 20px 20px 20px 0px;
    background-color: $nav-bg-color;
    height: 90px;

    .navbar-brand {
        color: $nav-brand-color;
        font-family: $navbrand-font-family;
        font-weight: 700;
        font-size: 28px;
        line-height: 28px;
        padding-left: 270px;

        @media screen and (max-width: 768px) {
            padding-left: 0;
        }
    }

    .collapse {
        .navbar-nav {
            padding-right: 20px;
            .nav-item {
                padding: 18px 0 28px 0;

                &:nth-child(2) {
                    margin: 0 14px;

                    @media screen and (max-width: 768px) {
                        margin: 14px 0;
                    }
                }
            }
        }
    }
}