.layout-wrapper {
    padding: 10px;

    .content-container {
        height: 'calc(100vh - 110px)'; 
        margin-left: '240px';

        @media (max-width: 768px) {
            margin-left: 0;
        }
    }
}
